body { background-color: #131313; color: #e5e2e1; font-family: 'Manrope', sans-serif; }
.material-symbols-outlined { font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24; }
.text-glow { text-shadow: 0 0 20px rgba(229, 9, 20, 0.4); }
